.about {
    display: flex;
    gap: 30px;


    &__item {
    position: relative;
    }

    &__desc {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    top: calc(100% - 70px);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-txt-cl);
    background-color: rgba(47, 48, 58, 0.8);
    }
}