.hero {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-color: #2f303a;
    padding: 200px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/optim_img/background-hero-Img.jpg');


    &__title {
    color: var(--white-txt-cl);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    }
}